/*---------------------------- Aspectos Generales ----------------------------*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Variables */
:root{
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning:#ffc107;
    --bs-danger:#dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --z1:#232741;
    --z2:#2c2e43;
    --darkBodyP:#181818;
    --darkPretty: #333;
    --darkPretty2:#222;
    --yellowMostaza: #e8a900;
    --bg-whiteBlue:#F0F0F0;
    --bg-whiteSmooth:#FAFAFA;
    --azulWhite: #f2f6fc;
    --azulLight: #f6f8fc;
    --azulLite: #eaf1fb;
    --aL: #f5f6f7;
    
    --borders-light:#dbdbdb;
    --lightBlue:#03a9f4;

    /* Colores de whatsapp: */
    --wa-1: #005c4b;
    --wa-2: #44c554;
    --wa-3: #128c7e;
    /* Colores de famago */
    --naranjaFamago:#f18e00;
    --azulFamago:#003480;
    --lightFamago:#f1f1f1;

    --fa-1:#f18e00;
    --fa-2:#003480;
    --fa-3:#f1f1f1;

    --fa-1-1:#f5a22e;
    --gameLips:#be123c;

    --bs-border: #dee2e6;

    /* Naranja */

    --reder:#E63946;
    --orangeBright: #FF3C0C;
    --orangeKiller:#EE6C4D;
    --redSound: #E63946;
    --redRoboto:#C72931;

    /* Azul */

    --blueSober: #264653;
    --blueBright: #317AC7;
    --blueRetro: #168AAD;
    --blueSound: #457B9D;

    /* Blanco */

    --whiteGrant: #eef3ff;

    /* Amarillo */
    --yell-1: #f3d661;
    --yell-2: #f2c84d;
    --yell-3: #f5c043;
    /* Negro */

    --black1: #283035;
    --black2: #303A40;
    --black3: #354249;

    /* Combinacion */
    --comb1: #ff0054;
    --comb2: #00002c;
    --comb3: #001966;
    --comb4: #eef3ff;

    /* --main: #FFB87A; */
    --main: #faa65c;
    --fondo: #FFF0C9;
    --destacado:#E68642;
    --acento: #FF7043;
    --letra: #A05A2C;

    --gradient-1:linear-gradient(to bottom right, #f3d661, #f2c84d, #f5c043);

    --bs-border: #dee2e6;
}
body{
    font-family: sans-serif;
    scroll-behavior: smooth;
    background:var(--fondo);
    /* background:var(--bs-light); */
}

h1,h2,h3,h4,h5,h6, .form-label{
    color:var(--letra);
}
p{
    color:var(--letra) !important;
}

section{
    padding:40px 0;
}

form,.alert{
    width:80%;
}
th,td{
    text-align:center;
}
table{
    /* margin-bottom:40px !important; */
    font-size:.82rem;
}
.td-funciones{
    display:flex;
    border:1px solid #000;
    height:100%;
    gap:5px;
    align-content:stretch;
}
.text-color{
    color:var(--destacado);
}
/* ----------------------------- NavBar bootstrap ------------------------------- */
nav.navbar, nav .dropdown-menu, nav .dropdown-menu.show{
    /* background: #4682B4; */
    /* background: #7B68EE; */
    /* background:#6A5ACD; */
    background:var(--main);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color:var(--bs-light) !important;
}
nav .dropdown-item:hover{
    background:var(--destacado);
}
nav .nav-link{
    color:#fff !important;
    font-size:1.05rem;
}
nav .navbar-collapse{
    padding-right:30px !important;
}
nav .navbar-nav{
    
    padding-left:40px;
    gap:30px;
    justify-content:end !important;
    /* border:1px solid #fff; */
    padding-right:30px; 
}
/* nav .logout-container{
    border:1px solid #fff;
} */
nav form button{
    width:130px;
    display:flex;
    justify-content:center;
    /* border:1px solid var(--bs-light) !important; */
}
thead{
    background:var(--main) !important;
    color:#fff;
}
/* ----------------------------- Index.php Login ------------------------------- */
#login-body{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../img/fondo.webp");
    background-size: cover; /* Para ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Para centrar la imagen */
    height:100vh;
}
.cont-login{
    height:600px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
/* .height-100{
    min-height:100vh;
} */
#formLogin, #filtro{
    width:100%;
}
.login{
    width:350px;
    border:1px solid var(--main);
    padding:30px 20px;
    border-radius:7px;
    background-color: var(--bs-white);
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
    box-shadow:rgba(0, 0, 0, 0.1) 0px 0px 15px ;
    background:linear-gradient(rgba(255, 240, 201, 0.8), rgba(255, 240, 201, 0.8));


}
.login-user-img{
    text-align:center;
}
.login-user-img svg{
    width:60% !important;
}
.login input{
    background-color:var(--azulLight);  

}
.form-pass-div button{
    width:50px;
    border:1px solid var(--bs-gray-500);
    border-radius:7px;
    background-color:var(--azulLight);
}
.form-pass-div span{
    cursor:pointer;
}
.form-pass-div svg{
    width:100%;
    fill:var(--azulLight) !important;
}
.login .btn{
    width:100%;
    padding:15px;
}

.btn-filtro{
    padding: 2px !important;
}

/* =================================== dashboard ================================ */

/*=============== Nuevos diseños de las opciones de diseño ===============*/

.diseno-section-cards{
	/* display:flex; */
	padding: 20px 0;
    height:550px;
    overflow-y: scroll;
	/* flex-wrap:wrap; */
    /* position:relative; */
    /* z-index:1; */
    /* padding-top:30px; */

}
.diseno-section-cards a{
    text-decoration: none;
    color:var(--bs-dark);
}
.card-row, .diseno-section-cards{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    flex-wrap:wrap;
}


.diseno-section-cards .card{
	width:330px;
    height:340px;
	margin: 15px 0; 
	padding:30px 15px;
	border:none;
	transition: all .4s ease-in-out;
	position:relative;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.diseno-section-cards .card:hover{
    /* transform:scale(1.01); */
    background:#F9F9F9;
    transition:all .3s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.card .card-logo{
    /* border:1px solid black; */
    width:100%;
    display:flex;
    justify-content:center;

}
.card .card-title{
	text-align:center;
	color: var(--destacado);
    /* width:60%; */
    /* border:1px solid black; */
    /* height:fit-content; */
    /* font-weight: bold; */

}
.card .card-logo img{
	width:110px;

}
.card-text{
	text-align:center;
    color:var(--bs-gray-700);
	/* padding:15px 0; */
}
.card-body{
	position:relative;
	padding: 5px ;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    /* gap:10px; */
    /* align-items:center; */

}
.container-forBack {
    padding:0 100px !important;
    height:fit-content;
    /* position:absolute; */
    /* top:1px; */
    /* z-index:2 !important; */
}

.btn-updateModal, #deleteBtn{
    width:50%;
}

.btn-updateModal{
    transition: all .3s ease-in-out;
    border:1px solid var(--bs-primary);
    background:transparent;
    color:var(--bs-primary);

}

.btn-updateModal:hover{
    transition: all .3s ease-in-out;
    background:var(--bs-primary);
    color:#fff;

}
.btn-updateModal.active{
    border:1px solid var(--bs-secondary);
    background:transparent;
    color:var(--bs-secondary);
}
.btn-updateModal.active:hover{
    background:var(--bs-secondary);
    color:#fff;
}

.container-forBack button{
    height:fit-content;
}

#estado_reserva option {
    padding: 30px 0 !important;
}


/* =================================== Usuario ================================ */
.perfil-section{
    border:1px solid var(--bs-gray-400);
    border-radius: 10px;
    padding: 15px 0 0 0;
    background:var(--main);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width:400px;
    margin:auto;
}
.perfil-section h2, .perfil-section h4{ 
    color:#fff;
}

.perfil-logo{
    /* border:1px solid var(--bs-gray-400); */
    padding:0 0 15px 0;
    display:flex;
    justify-content:center;
}
.perfil-logo img{
    width:110px;
    border:1px solid var(--bs-gray-400);
    border-radius: 500px;
    background:#fff;

}
.perfil-body{
    border-top:1px solid var(--bs-gray-400);
    
    padding:15px 20px;
    background:var(--bs-light);
}
.perfil-body .btn-perfil{
    display: flex;
    justify-content:center;
    padding:10px;
}




/* =================================== Consultas ================================ */
.btnContainer{
    align-items:center;
}
.btnContainer button, .btnContainer a{
    height:fit-content;
}

.formFliltroFecha{
    padding:10px 15px;
    background:#f2f2f2;
    /* background:var(--main); */
    border-radius:5px;

}
.formFliltroFecha form{
    display:flex;
    width:100%;
    gap:5px;
}



/* =================================== Footer ================================ */

footer{
    padding:10px 0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--blueRetro);

    color:#fff;

}
footer a{
    color:#fff;
    text-decoration:none;
    font-weight: bold;
    bottom:0;
    transition:all .2s ease-in-out;
}

footer a:hover{
    transition:all .2s ease-in-out;
    color:var(--blueSober);
}





/* =================================== Pagina de Reservas ================================ */

.container-mesas{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    justify-content:space-around;
}

.container-mesas .mesa-box{
    width:100%;
    /* border:1px solid #fff; */
    display:flex;
    flex-direction:column;
    gap:5px;
    width:150px;
    height:150px;
    border-radius:20px;
    /* background:var(--bs-light); */
    color:var(--bs-light);
    padding:20px 15px;
    justify-content:center;
    align-items:center;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
    cursor:pointer;
}
.container-mesas .mesa-box.estado-1{
    border: 10px solid var(--bs-success);
    background:var(--bs-success);


}

.container-mesas .mesa-box.estado-3{
    /* border: 10px solid #FD7E14; */
    background: #FD7E14;
}
.bg-orange{
    background:#FD7E14;
}

.container-mesas .mesa-box.estado-2{
    border: 10px solid #FFC107;
    background: #FFC107;

}

.mesa-box p{
    margin:0;
}

.mesa-box .titulo-mesa{
    font-size:2.5rem;
    color:#fff !important;

    font-weight:bold;
}

.mesa-box .estado-mesa, .mesa-box .capacidad-mesa{
    font-weight:bold;
    text-align:center;
    color:#fff !important;

}
.mesa-box form{
    width:100% !important;
}
.mesa-box .btn{
    padding:2px 10px;
    width:100%;
}
.div-descripcion {
    position: sticky;
    top: 0; /* Establece cuando el elemento se vuelve sticky */
    /* z-index: 10;  */
    padding:20px 10px;
    
    border:1px solid var(--main);
    border-radius:10px;
}
.contexto-color{
    display:flex;
    flex-direction:column;
    gap:3px;
}
.contexto{
    border:1px solid var(--main);
}
.left-col{
    border-right:1px solid var(--main);
}
.contexto{
    /* padding:1px 100px; */
    display:flex;
    border-radius:10px;
    overflow:hidden;
}
.contexto-texto{
    width:30%;
    padding:5px;
    border-right: var(--main);
    color:var(--letra);
}
.libre-color{
    background:var(--bs-success);
    color:var(--bs-success);
    width:70%;
}
.pendiente-color{
    color:var(--bs-warning);
    background:var(--bs-warning);
    width:70%;

}
.ocupado-color{
    color:#FD7E14;
    background:#FD7E14;
    width:70%;
}

.div-descripcion h3{
    border-bottom:1px solid var(--main);
    
}
.descripcion-body{
    padding-top:15px;
    min-height:400px;
}
.side-descripcion{
    font-size:1.1rem;
    /* font-weight:normal; */
}
.btn-reservacion{
    margin-top:30px;
    padding:20px;
    font-size:1.2rem;
    background:var(--destacado);
    color:#fff;
    border-radius:10px;
    border:none;
    /* position:absolute;
    bottom:20px; */
}
.clienteCards{
    margin-bottom:30px;
}

.btn-clienteCard{
    padding:20px 30px;
    border:1px solid var(--main);
    color:var(--letra);
}
.btn-clienteCard:hover{
    /* border:1px solid var(--bs-secondary); */
    background:var(--main);
    color:#fff;

}
.btn-clienteCard.activado{
    border:1px solid var(--main) !important;
    background:var(--main) !important;
    color:#fff !important;

}

.modal-body form{
    width:100%;
}

/* ================================ Reservaciones/Index.php ============================== */

#estado_reserva option {
    padding: 30px 0 !important;
}
